.action:hover {
    background-color: #f1efef;
}

.emojiHover {
    animation-name: enlarge;
    animation-duration: 100ms;
    animation-fill-mode: forwards;
}



@keyframes enlarge {
    from {
        font-size: 1em;
    }
    to {
        font-size: 1.3em;
    }
}